[Unit]
Description=start streaming server on boot
After=multi-user.target
[Service]
ExecStart=/usr/bin/python3 /home/pi/stream.py
User=pi
[Install]
WantedBy=multi-user.target